* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#animation {
    height: 100vh;
} 

.obj {
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
}